form {
    padding: 40px;
}

.input-userid{
    padding: 8px 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #5c5c5c;
    font-size: 20px;
    border-right: 0px;
    vertical-align: middle;
}
.submit-btn{
    background-color: #6497b1;
    border: 2px	#536878 solid;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    padding: 9px;
    padding-right: 15px;
    border: 1px solid #5c5c5c;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    /* height: 43px; */
    vertical-align: middle;
}

.submit-btn:hover {
    background: #586e80;
}